= simple_form_for([:admin, @news], :html => { :class => 'form-vertical', :multipart => true }) do |form|
  - unless params[:translate]
    = form.input :title, :input_html => { :class => "span6" }
    = form.input :content, :input_html => { :class => "span6 editor" }, :as => :text
    = form.input :start_at, :as => :string, :input_html => { :class => "datepicker" }
    = form.input :end_at, :as => :string, :input_html => { :class => "datepicker" }
    = form.input :images, :as => :file, :input_html => { :multiple => true, :accept => 'image/*' }

    = render 'admin/news/pictures'

  - else
    = form.input "title_#{other_locale}", :input_html => { :class => "span6" }
    = form.input "content_#{other_locale}", :input_html => { :class => "span6 editor" }, :as => :text
    = hidden_field_tag :locale, other_locale

  .form-actions
    = form.submit :class => 'btn-primary'

= javascript_include_tag "ckeditor/ckeditor.js"

:javascript
  function setCkeditor(textarea) {
      CKEDITOR.replace(textarea[0], {
          lang: 'fr',
          toolbar:
          [
              ['Bold', 'Italic', 'Underline', '-', 'BulletedList', 'Link','Unlink']
          ]
      });
  }

  $(document).ready(function() {
      setCkeditor($('.editor'));
  })