= simple_form_for([:admin, @news], :html => { :class => 'form-vertical', :multipart => true }) do |form|
  = form.input :title_en, :input_html => { :class => "span6" }
  = form.input :title_fr, :input_html => { :class => "span6" }
  = form.input :content_en, :input_html => { :class => "span6 editor" }, :as => :text
  = form.input :content_fr, :input_html => { :class => "span6 editor" }, :as => :text
  = form.input :start_at, :as => :string, :input_html => { :class => "datepicker" }
  = form.input :end_at, :as => :string, :input_html => { :class => "datepicker" }
  = form.input :images, :as => :file, :input_html => { :multiple => true, :accept => 'image/*' }
  = form.input :published

  = render 'admin/news/pictures'

  .form-actions
    = form.submit :class => 'btn-primary'

= javascript_include_tag 'ckeditor/ckeditor.js'

