.page-header
  %h1
    = t('pictures.edit')
    %small
      = t('or')
      = link_to(t('pictures.destroy_it'), admin_picture_path(@picture), :method => :delete)

%section= image_tag(@picture.image.url(:normal))

= simple_form_for([:admin, @picture], :html => { :class => 'form-vertical', :multipart => true, :novalidate => true }) do |form|
  = form.input :name, :input_html => { :class => "span6" }, :required => false
  = form.input :description, :input_html => { :class => "span6" }, :required => false
  = form.input :dimensions, :input_html => { :class => "span6" }, :required => false
  = form.input :technic, :input_html => { :class => "span6" }, :required => false
  = form.input :materials, :input_html => { :class => "span6" }, :required => false
  = form.input :year, :input_html => { :class => "span6" }, :required => false, :discard_day => true, :discard_month => true, :as => :date
  = form.input :category_ids, :input_html => { :class => "span1" }, :required => false, :collection => Category.childless, :as => :check_boxes unless Category.childless.blank?
  = form.input :image, :as => :file, :input_html => { :accept => 'image/*' }
  .form-actions
    = form.submit :class => 'btn-primary'
