.page-header
  %h1
    - if @category
      = t('pictures.for_category', :category => @category.name)
    - else
      = t('pictures.label')
    %small.pull-right= link_to(t('create'), new_admin_pictures_collection_path(:category_id => @category ? @category.id : nil), :class => 'btn btn-primary')

#pictures_list

  .row= render @pictures
  = paginate(@pictures)
