%li.category{:id => "category_#{category.id}"}
  = category.name
  = link_to("(#{category.pictures.count} #{t('pictures.label')})", admin_category_pictures_path(category)) unless category.has_children?
  = link_to(t('categories.new.child'), new_admin_category_category_path(:category_id => category))
  |
  = link_to(t('destroy'), admin_category_path(category), :method => :delete, :confirm => "Are you sure you want to delete that item ?")
  %ul.sub_categories
    - category.categories.each do |child_category|
      %li.sub_category{:id => "category_#{child_category.id}"}
        = child_category.name
        = link_to("(#{child_category.pictures.count} #{t('pictures.label')})", admin_category_pictures_path(child_category)) unless child_category.has_children?
        = link_to(t('destroy'), admin_category_path(child_category), :method => :delete)



